.btn-outline-primary {
    color: #1b1464;
    border-color: #1b1464;
};

.jumbotron {
    background-image: url('img/mitch_smith_website_background-02.png');
    background-size: cover;
    height: 100%;
  }

.ms-legal a{
    text-decoration: underline;
}

.ms_row_head {
    padding-bottom: 2em;
}

.ms_row {
    color: white;
    padding-bottom: 2em;
}

.ms_row a{
    color:white;
}


.vertical-align {
    display: flex;
    align-items: center;
}

.ms-store-logo {
    height: 40px;
}