---
layout: default
title: "Mitch Smith: Software Engineer and Hobbyist App Developer"
---

<!-- Title Section -->
<div class="row ms_row_head vertical-align">
    <!-- Content-->
    <div class="col-md-6 offset-md-1">
        <img src="img/icons/ms_home_icon.png" height="108" class="d-inline-block align-top" alt="Mitch Smith MS Logo">
        <h1>
            Mitch Smith
        </h1>

        <p>
            Mitchell (Mitch) Smith is a full time Software Engineer and father from Baltimore Maryland. In his free time he enjoys creating apps as a hobby. 
        </p>
        <p>
            These are some of the apps I have developed, check them out and let me know your thoughts!
        </p>
    </div>
    <!-- Picture -->
    <div class="col-md-4" style="height:auto">
        <img src="img/profile/profile_photo-01.png" style="border-radius: 50%; max-width: 50%;" alt="Picture of Mitch Smith and his daughter" class="img-fluid mx-auto d-block">
    </div>
</div>

{% for app in site.data.apps %}
<!-- {{ app.name }}-->
<div class="row ms_row vertical-align" style="background-color: {{ app.color }};">
    <!-- Content-->
    <div class="fade-in col-md-5 offset-md-1">

        <img src="{{ app.icon }}" height="108" class="d-inline-block align-top" alt="{{ app.name }} logo">
        <h1>
            <a href="/{{ app.slug }}">{{ app.name }}</a>
        </h1>

        <p>
            {{ app.description }}
        </p>

        <!-- Download buttons -->
        <div>
            {% if app.coming_soon %}
                <p style="color: white; font-weight: bold;">Coming Soon!</p>
            {% else %}
                {% if app.ios_url %}
                    <a href='{{ app.ios_url }}'>
                        <img alt='Download on the App Store' src="/img/appstore/Download_on_the_App_Store_Badge_US-UK_RGB_blk_092917.svg" class="ms-store-logo" >
                    </a>
                {% endif %}
                {% if app.android_url %}
                    <a href='{{ app.android_url }}'>
                        <img alt='Get it on Google Play' src='/img/appstore/google-play-badge-01.svg' class="ms-store-logo" />
                    </a>
                {% endif %}
            {% endif %}
        </div>
    </div>
    <!-- Picture -->
    <div class="fade-in col-md-5">
        {% for screenshot in app.screenshots %}
            <img class="ms-img" src="{{ screenshot }}" alt="Screenshot for {{ app.name }}" {% if forloop.index > 1 %}style="padding-top:2em"{% endif %}>
        {% endfor %}
    </div>
</div>
{% endfor %}
