<footer>
    <div class="row ms-footer" style="padding:5px; padding-bottom: 10px;">
        <div class="col-lg-3 col-md-4 col-sm-6 col-12 text-center">
            <small>&copy; Copyright 2022, Mitchell Smith</small>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 col-12 text-center">
            <small>
                <a href="/pinballdefenseforce/">Pinball Defense Force</a> |
                <a href="/pinballoverdrive/">Pinball Overdrive</a> |
                <a href="/surgeblast/">Surge Blast</a>
            </small>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 col-12 text-center">
            <small>
                <a href="/dizzyfrog/">Dizzy Frog</a> |
                <a href="/bounceandbound/">Bounce and Bound</a> |
                <a href="/tapandteleport/">Tap and Teleport</a>
            </small>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 col-12 text-center">
            <small>
                <a href="/pinfinitesmash/">Pinfinite Smash</a> |
                <a href="/shiftandshatter/">Shift and Shatter</a> |
                <a href="/pockettravelplanner/">Pocket Travel Planner</a> |
                <a href="/tripstickers/">Trip Stickers</a>
            </small>
        </div>
    </div>
</footer>
