<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <!-- Brand -->
    <a class="navbar-brand offset-md-1" href="/" style="color:white;">
        <img src="/img/icons/material/ic_material_product_icon_192px copy 4xxxhdpi.png" height="30" alt="Mitch Smith Icon">
    </a>
    <!-- Toggle -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <!-- Links -->
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item {% if page.url == '/' %}active{% endif %}">
                <a class="nav-link" href="/">Portfolio</a>
            </li>
            <li class="nav-item {% if page.url contains 'about' %}active{% endif %}">
                <a class="nav-link" href="/pages/about/">About</a>
            </li>
            <li class="nav-item {% if page.url contains 'legal' %}active{% endif %}">
                <a class="nav-link" href="/pages/legal/">Legal</a>
            </li>
        </ul>
    </div>
</nav>
