<nav class="navbar navbar-expand-lg navbar-light" style="
            background-color: #0a000a">

    <a class="navbar-brand" href="/index.html" style="color:white">
        <img src="/img/ic_material_product_icon_192px copy 4xxxhdpi.png" height="30" alt="">
        <span>&nbsp; MITCH SMITH</span>
    </a>
    <ul class="navbar-nav mr-auto">
        <li></li>
        <li class="nav-item">
            <a class="nav-link" href="/bounceandbound/product.html" style="color:white;">BOUNCE
                AND BOUND</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/pinballoverdrive/product.html" style="color:white;">PINBALL OVERDRIVE</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/shiftandshatter/product.html" style="color:white;">SHIFT
                AND SHATTER</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/jogit_logit/product.html" style="color:white;">JOG
                IT LOG IT</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/design/product.html" style="color:white;">DESIGN</a>
        </li>
    </ul>
    <span class="navbar-text">
        <a class="nav-link" href="/legal/legal.html" style="color:white;">
            LEGAL
        </a>
    </span>
</nav>