<!--
<nav class="navbar navbar-expand-lg navbar-light">


    <ul class="navbar-nav mr-auto navbar-right">
        <li></li>
        <li class="nav-item">
            <a class="nav-link" href="/pinballoverdrive/product.html" >PORTFOLIO</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/pages/about.html" >ABOUT</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/pages/newsletter.html" >NEWSLETTER</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/pages/legal.html" >LEGAL</a>
        </li>
    </ul>
</nav>
-->

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <!-- Brand -->
    <a class="navbar-brand offset-md-1" href="/" style="color:white">
        <img src="/img/ic_material_product_icon_192px copy 4xxxhdpi.png" height="30" alt="">
    </a>
    <!-- Toggle -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <!-- Links -->
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="/pinballoverdrive/product.html">Portfolio</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/pages/about.html">About</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/pages/newsletter.html">Newsletter</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/legal/">Legal</a>
            </li>
        </ul>
    </div>
</nav>